
<a href="#main" class="sr-only sr-only-focusable">Přeskočit na hlavní obsah stránky.</a>
<div class="dn dt-l dt--fixed-l white pv3 mw8 mr-auto ml-auto">
  <div class="dtc-ns tl pl3">
    <a href="https://mapy.cz/?q=50.3838625N%2C+13.2693786E" class="btn btn mode--link mode--link--muted">
      <span class="f5 normal">
        <svg aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x" width="18" height="18">
          <path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z" class=""></path>
        </svg>
      </span>
      Na Podlesí 1638, Kadaň</a>
  </div>
  <div class="dtc-ns tc">
    <a href="tel:+420 560 40 40 40" class="btn mode--link mode--link--muted">
      <span class="f5 normal">
        <svg aria-hidden="true" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-phone fa-w-16" width="18" height="18">
          <path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z" class=""></path>
        </svg>
      </span>
      +420 560 40 40 40</a>
  </div>
  <div class="dtc-ns tr pr3">
    <a href="mailto:jampl@jampl.cz" class="btn mode--link mode--link--muted">
      <span class="f5 normal">
        <svg aria-hidden="true" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-envelope fa-w-16" width="18" height="18">
          <path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" class=""></path>
        </svg>
      </span>jampl@jampl.cz</a>
  </div>
</div>

<header role="banner" style="background-color: #f7f8fa;">
  <div class="">
    <div class="pb5">
      <nav class="dn dt-m dt-l w-100 mw8 pv3 center"> 
        <div class="dtc v-mid pa3 jampl-logo">
        <a href="/" class="dib pa1 b--white-90 grow border-box">
          <span class="sr-only">Společnost JAMPL</span>
          <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" width="160" height="28.816" aria-hidden="true">
            <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)" fill="#fefefe" fill-rule="evenodd">
              <path fill="#264796" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
            </g>
          </svg>
        </a>
      </div>
      <div class="nav-items nav-items--dark dtc v-mid tr pa3 fw7">
        <a class="base-blue-f relative no-underline dn dib-ns pv2 ph3" href="/welcome/about" >O nás</a> 
        <a class="base-blue-f relative no-underline dn dib-ns pv2 ph3" href="/welcome/facility" >Přehled činností</a> 
        <a class="base-blue-f relative no-underline dn dib-l pv2 ph3" href="/welcome/bim" >BIM řešení</a> 
        <a class="base-blue-f active relative no-underline dn dib-l pv2 ph3" href="/welcome/customers" >Zákazníci</a> 
        <a class="base-blue-f relative no-underline dn dib-l pv2 ph3" href="/welcome/jobs" >Kariéra</a> 
        <a class="base-blue-f relative no-underline dn dib-l pv2 ph3" href="/welcome/contacts" >Kontakt</a> 
      </div>
      </nav> 

      <div class="flex navigation__mobile ph2 dn-l">

        <a class="logo touch" href="/">
          <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="lookback-mark">
            <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)" fill="#fefefe" fill-rule="evenodd">
              <path fill="#264796" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
            </g>
          </svg>
        </a>
      
        <input class="header__navigation-toggle-checkbox" type="checkbox" id="show-menu" aria-controls="navigation" aria-expanded="false">
        <label class="header__navigation-toggle" for="show-menu" style="color: #264796;">
          Menu
        </label>
        <nav class="header__navigation">
          <a class="relative no-underline base-blue-f pv2 ph3" href="/welcome/about" >O nás</a> 
          <a class="relative no-underline base-blue-f pv2 ph3" href="/welcome/facility" >Přehled činností</a> 
          <a class="relative no-underline base-blue-f pv2 ph3" href="/welcome/bim" >BIM řešení</a> 
          <a class="active relative no-underline base-blue-f pv2 ph3" href="/welcome/customers" >Zákazníci</a> 
          <a class="relative  no-underline base-blue-f pv2 ph3" href="/welcome/jobs" >Kariéra</a> 
          <a class="relative no-underline base-blue-f pv2 ph3" href="/welcome/contacts" >Kontakt</a> 
        </nav>
      </div>
    </div>
  </div> 
</header>

<main role="main">
  <div class="mw9 ml-auto mr-auto pb5">

    <aside class="fl overflow-y-auto sidebar dn db-ns">
      <div class="ph4">
        <h2 class="mv0 fw7 f5">Filtrovat podle</h2>
        <ul class="ph0 mh0 mv3">
          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" href="" data-rel="all">Vse</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="udrzba">Drobná údržba</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="zamecnici">Zámečníci</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="voda">Voda a topení</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="maliri">Malíři</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="podlahy">Podlahy</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="obklady">Obklady</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="zednici">Zednické práce</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="sadrokarton">Sádrokartony</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="sekani">Sekání</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="vysadby">Výsadby</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="zelen">Údržba zeleně</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="kaceni">Kácení</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="pasporty">Pasporty</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="nemovitosti">Správa nemovitostí</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="mracna">Mračna bodů</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="vizualizace">Vizualizace</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="konzultace">Konzultace</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="vizualizace">Vizualizace</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="snih">Úklid sněhu</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="venek">Úklid venkovních ploch</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="stehovani">Stěhování</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="autodoprava">Autodoprava</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="stavby">Provádění staveb</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="rekonstrukce">Rekonstrukce</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="fasady">Fasády</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="zemni">Zemní práce</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

          <li class="fw6 ttu">
            <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="strechy">Střechy</button>
              <aside class="fr o-60 fw4 ml4">27</aside>
          </li>

        </ul>
      </div>
    </aside>

    <div id="portfolio">
      <div class="mb5 dn-ns">
        <input class="customers__filters-toggle-checkbox" type="checkbox" id="show-menu-filters"aria-expanded="false">
        <label class="customers__filters-toggle" for="show-menu-filters" style="color: #264796;">
          Zobrazit filtry (27)
        </label>
        <nav class="customers__filters">
          <ul class="ph0 mh0 mt0 mb3">
              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" href="" data-rel="all">Vse</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="udrzba">Drobná údržba</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="zamecnici">Zámečníci</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="voda">Voda a topení</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="maliri">Malíři</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="podlahy">Podlahy</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="obklady">Obklady</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="zednici">Zednické práce</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="sadrokarton">Sádrokartony</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="sekani">Sekání</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="vysadby">Výsadby</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="zelen">Údržba zeleně</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="kaceni">Kácení</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="pasporty">Pasporty</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="nemovitosti">Správa nemovitostí</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="mracna">Mračna bodů</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="vizualizace">Vizualizace</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="konzultace">Konzultace</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="vizualizace">Vizualizace</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="snih">Úklid sněhu</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="venek">Úklid venkovních ploch</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="stehovani">Stěhování</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="autodoprava">Autodoprava</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="stavby">Provádění staveb</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="rekonstrukce">Rekonstrukce</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="fasady">Fasády</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="zemni">Zemní práce</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

              <li class="fw6 ttu">
                <button class="btn mode--link mode--link--muted size--large base-blue-f fil-cat" data-rel="strechy">Střechy</button>
                  <aside class="fr o-60 fw4 ml4">27</aside>
              </li>

          </ul>
        </nav>        
      </div>

      <div class="tile scale-anm obklady zamecnici all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="left title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="right tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>
      
      <div class="tile scale-anm obklady  all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="left title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="right tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm obklady  all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="right title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="left tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm sadrokarton  all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="left title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="right tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm zamecnici all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="right title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="left tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm zamecnici all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="left title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="right tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm sadrokarton sadrokarton all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="right title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="left tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm sadrokarton  all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="left title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="right tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm sekani obklady all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="right title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="left tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm sekani all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="left title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="right tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm sekani all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="right title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="left tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm obklady all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="left title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="right tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>

      <div class="tile scale-anm obklady all">
        <div class="section">
          <div class="middle">
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
          <div class="right title">
            <div class="content">
              <h2>Rekultivace a nové založení zeleně, Svah u jídelny EPR I</h2>
               <p>Cena: 395 tis.        Termín:  2017        Tagy: zeleň, výsadba</p>
            </div>
          </div>
           
          <div class="left tiles">
            <%= image_tag("typek1.JPG", :alt => "") %>
            <%= image_tag("typek1.JPG", :alt => "") %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div style="clear:both;"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="/assets/customers-filters.js" type="text/javascript"></script>
    <script src="/assets/customers-main.js" type="text/javascript"></script>
</main>

<footer role="contentinfo" class="footer-main">
  <div class="footer__inner justify-between flex">
    <a href="/" class="footer__logo f7 white-70" title="Přejít na domovskou stránku JAMPL">
      <span class="sr-only">Společnost JAMPL</span>
      <svg version="1.1" viewBox="0 0 306.82 58.536" xmlns="http://www.w3.org/2000/svg" width="160" height="28.816" aria-hidden="true">
          <g transform="matrix(1.3333 0 0 -1.3333 -625.94 372.64)"fill-rule="evenodd">
            <path fill="#fff" d="m666.36 277.98h13.699l-2.3558-8.7919h-13.699zm-66.965 0h13.699l-2.3558-8.7919h-47.969l2.3559 8.7919h13.699l8.1343-8.1785zm-25.826-19.61-5.705-21.292h-13.699l6.2479 23.318h47.969l-6.2479-23.318h-13.699l5.7048 21.292-12.641-8.7919zm-67.206-21.292 15.109 23.318h27.178l2.1189-23.318h-13.699l-1.3198 14.526h-6.2751l-9.4124-14.526zm20.805 32.11 5.6631 8.74 14.221 0.0519 0.7989-8.7919zm-15.761-8.792-1.3005-4.854c-3.0393-11.344-6.5747-18.464-18.464-18.464h-20.689l2.3555 8.7922h17.834c2.2799 0 3.1141 1.6483 3.6507 3.6505l2.9141 10.876zm-29.494 17.584h34.206l-2.3559-8.7919h-34.206zm144.01-26.376-3.8923-14.526h-13.699l5.3173 19.844h2e-4l0.9309 3.4741h27.201c2.4183 0 4.9255 1.9783 5.5735 4.396 0.6477 2.418-0.7999 4.396-3.2176 4.396h-27.201l2.3559 8.7919h30.357c7.2533 0 11.598-5.9346 9.6542-13.188-1.9434-7.2533-9.4688-13.188-16.722-13.188zm49.422 8.7919-3.8926-14.526h26.616l-2.3559-8.7922h-40.315l6.2481 23.318z"/>
          </g>
      </svg>
    </a>

    <nav class="footer-nav mw7 justify-between flex">
     
      <div class="footer-nav__group">
        <h2 class="mt0 mb1 f4 fw7 white">Všechno o nás</h2>
        <ul>
          <li class=""><a class="white-90" href="/welcome/about">O nás</a></li>
          <li class=""><a class="white-90" href="/welcome/facility">Přehled činností</a></li>
          <li class=""><a class="white-90" href="/welcome/bim">BIM řešení</a></li>
          <li class=""><a class="white-90" href="/welcome/customers">Reference a fotodokumentace</a></li>
          <li class=""><a class="white-90" href="/welcome/jobs">Pracujte pro nás</a></li>
          <li class=""><a class="white-90" href="/welcome/contacts">Kontakty</a></li>
        </ul>
      </div> 

       <div class="footer-nav__group white">
        <h2 class="mt0 mb1 f4 fw7">Další informace</h2>
        <ul>
          <li class=""><a class="white-90" href="/welcome/terms-of-use">Zásady použítí</a></li>
          <li class=""><a class="white-90" href="/privacy">Ochrana osobních dat</a></li>
          <li class=""><a class="white-90" href="/privacy">Mapa stránek</a></li>
        </ul>
      </div> 
      

      <div class="footer-nav__group">
        <h2 class="mt0 mb1 f4 fw7 white">Sociální sítě</h2>
        <ul t>
          <li>
            <a href="https://www.facebook.com/jamplpsv/" class="link dim dib mr3 black-70" title="Impossible Labs on Facebook" target="_blank" aria-label="Facebook JAMPLu">
              <svg class="db w2 h2" data-icon="facebook" viewBox="0 0 32 32" fill="#fff">
              <title >facebook icon</title>
                <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z">
                </path>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/jampl-psv-s-r-o/" class="link dim dib black-70" target="_blank" aria-label="LinkedIn JAMPLu">
              <svg class="db w2 h2" x="0px" y="0px" viewBox="0 0 48 48" >
                <linearGradient gradientUnits="userSpaceOnUse" x1="23.9995"
                  y1="0" x2="23.9995" y2="48.0005" >
                  <stop offset="0" ></stop>
                  <stop offset="1" ></stop>
                </linearGradient>
                <path fill="#fff" d="M48,42c0,3.313-2.687,6-6,6H6c-3.313,0-6-2.687-6-6V6 c0-3.313,2.687-6,6-6h36c3.313,0,6,2.687,6,6V42z"
                ></path>
                <g >
                  <g >
                    <path fill="#264796" d="M15.731,11.633c-1.608,0-2.658,1.083-2.625,2.527c-0.033,1.378,1.018,2.494,2.593,2.494 c1.641,0,2.691-1.116,2.691-2.494C18.357,12.716,17.339,11.633,15.731,11.633z M13.237,35.557h4.988V18.508h-4.988V35.557z M31.712,18.748c-1.595,0-3.222-0.329-4.956,2.36h-0.099l-0.087-2.599h-4.417c0.065,1.411,0.074,3.518,0.074,5.52v11.529h4.988 v-9.854c0-0.46,0.065-0.919,0.196-1.248c0.328-0.919,1.149-1.871,2.527-1.871c1.805,0,2.527,1.411,2.527,3.479v9.494h4.988V25.439 C37.455,20.713,34.993,18.748,31.712,18.748z"
                    ></path>
                  </g>
                </g>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="footer__bottom tr mt3 white">
    <p>1991 — 2018</p>
  </div>
</footer>