<!DOCTYPE html>
<html lang="cs">
  <head>
    <title>JAMPL: </title>
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i',
     media: 'all', 'data-turbolinks-track' => true %>

    <link rel="author" href="/humans.txt">

     <!-- Force IE 8/9/10 to use its latest rendering engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="POPOPOSISP.">

    <meta property="og:type" content="business">
    <meta property="og:title" content="JAMPL: ">
    <meta property="og:site_name" content="JAMPL">
    <meta property="og:description" content="User experience recording made simple. See the screen, face, voice and touches of your users. Record in-house or remotely and without equipment.">
    <meta property="og:locale" content="cs_CZ">
    <meta property="og:street-address" content="Na Podlesí 1638" />
    <meta property="og:locality" content="Kadaň" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
