<!DOCTYPE html>
<html lang="cs">
  <head>
    <title>JAMPL: </title>
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', :defer => "defer" %>

    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css?family=Poppins:400,500,700&amp;subset=latin-ext',
     media: 'all', 'data-turbolinks-track' => true %>
     
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#264796">

    <meta name="description" content="Už přes 25 let. Firma specializovaná na údržbu a BIM.">

    <meta property="og:type" content="business">
    <meta property="og:title" content="JAMPL: ">
    <meta property="og:site_name" content="JAMPL">
    <meta property="og:description" content="Už přes 25 let. Firma specializovaná na údržbu a BIM.">
    <meta property="og:locale" content="cs_CZ">
    <meta property="og:street-address" content="Na Podlesí 1638" />
    <meta property="og:locality" content="Kadaň" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
