<!DOCTYPE html>
<html lang="cs">
  <head>
    <title><%= yield(:title) %></title>
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', :defer => "defer" %>

    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css?family=Poppins:400,500,700&amp;subset=latin-ext',
     media: 'all', 'data-turbolinks-track' => true %>
     
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

    <link rel="shorcut icon" href="favicon.ico" type="image/x-icon">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#264796">

    <meta name="description" content="Už přes 25 let. Firma specializovaná na správu nemovitostí a BIM.">

    <meta property="og:type" content="business">
    <meta property="og:title" content="JAMPL: ">
    <meta property="og:site_name" content="JAMPL">
    <meta property="og:description" content="Už přes 25 let. Firma specializovaná na správu nemovitostí a BIM.">
    <meta property="og:locale" content="cs_CZ">
    <meta property="og:street-address" content="Na Podlesí 1638" />
    <meta property="og:locality" content="Kadaň" />
    <meta property="og:logo" content="" size="307x59">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131637051-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-131637051-1');
    </script> 
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
